<html>
	<body bgcolor=#000000>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41352458-1', 'x8-decisive-sylph-m.appspot.com');
		ga('send', 'pageview');
	</script>

    <H1 style="color:white">Outfit Summary : {{ outfit['alias'] }}</H1>
	<H4 style="color:white"> {{ outfit['name'] }} </H4> 	
	<h2 style="color:white"> {{ outfit['alias'] }} : {{ outfit['member_count'] }} Members {{ outfit['members_online'] }} Online Now.</h2>

    <a href="#daily">Daily Statistics</a>
    <a href="#weekly">Weekly Statistics</a>
    <a href="#monthly">Monthly Statistics</a>
    <a href="#forever">All Time Statistics</a>

	<br>
	
	{% for time in ['daily','weekly','monthly','forever'] %}
	<a name={{time}}></a>
	<h3 style="color:white"> {{ times[time] }} statistics </h3>
	<table border='0' width=100% style="color:white" valign="middle">
		<tr >
		    <td> Place </td>
			<td width='32'> </td>
			<td> </td>
			<td> Name </td>
			<td> Score/Min </td>
			<td> K/D ratio </td>
			<td> Kills </td>
            <td >Classes by score/min</td>
		</tr>
	
	    {% set position = 0 %}
        {% for member in sorts[time] %}
	    {% set position = position + 1 %}
	    <tr > 
		    <td >{{ position }}</td>
		    <td width='32'><img src="http://census.soe.com/img/ps2-beta/icon/{{ offsets['tr'] + member['battle_rank'] }}/item" width=32> </img> </td>
			<td >{{ member['battle_rank'] }}</td>
			<td >{{ member['outfit_rank_name'] }}, {{ member['name'] }}</td>
			<td >{{ "%10.2f" % member['score_per_min'][time] }}</td>
            <td >{{ "%10.2f" % member['kills_per_death'][time] }}</td>
            <td >{{ member['weapon_kills'][time] }}</td>
            <td >
            {% set opacity = 100 %}
            {% set opacity_float = 1.0 %}
            {% for clazz in member['class_sort'][time] %}
                 {% if clazz['score_per_min'][time] > 0.01 %}
                    <img src="{{ class_images[clazz['class']] }}" width=32 style="opacity:{{opacity_float}};filter:alpha(opacity={{opacity}});"> </img>
                    {% set opacity = opacity - 15 %}
                    {% set opacity_float = opacity_float - 0.15 %}
                 {% endif %}
			{% endfor %}
			</td>
		</tr>
	    {% endfor %}
    </table>
    {% endfor %}
  </body>
</html>
